.fondo1{
	background-color:#884F9E;
}

.a{
	color:white;
	font-family: Bell MT;
}

.fila1{
	margin-top: 2.5em;
}

.b{
	color:white;
	font-family: arial black;
}

.fila2{
	margin-top:10em;
}

.c{
	color: white;
	background-color: #E57E53;
	width: 80%;
	border-radius: .5em;
	height: 75px;
	border:1px solid white;
}

.fila3{
	margin-top: 2.5em;
	margin-bottom: 5em;
}

.columna1{
	background-color: #17C1A4;
}

.d{
	s
}

